@blue: #4a90e2;
@blueSmall: #206dc5;
@lightBlue: #c3dfff;
@green: #3c8302;
@white: #ffffff;
@lightGray: #808080;
@lightGraySmall: #757575;

@callToAction: @green;
@bodyText: #424242;
@headerText: #2c2c2c;
@codeBackground: #f8f8f8;
@inlineCodeBorder: #cccccc;
