@blue: #4a90e2;
@blueSmall: #206dc5;
@lightBlue: #c3dfff;
@green: #3c8302;
@white: #ffffff;
@lightGray: #909090;
@lightGraySmall: #757575;
@orange: rgb(246, 166, 35);

@callToActionHighlight: @orange;
@callToAction: @blueSmall;
@bodyText: #424242;
@headerText: #2c2c2c;
@codeBackground: #f8f8f8;
@inlineCodeBorder: #cccccc;
