@import 'typography-compat.less';
@import 'solarized-light.less';

@import 'colors.less';
@import 'rhythm.less';

@media only screen and (min-width: 1200px) {
  html {
    font-size: 125%;
  }
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 90%;
  }
}

@media only screen and (max-width: 320px) {
  html {
    font-size: 80%;
  }
}

body {
  color: @bodyText;
}
h1 {
  color: @headerText;
}
h2,
h3,
h4,
h5,
h6 {
  color: @headerText;
  margin-bottom: 0.5rem;
}

a {
  color: @blue;
  text-decoration: underline;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none;
}

::-moz-selection {
  background-color: @lightOrange;
}

::selection {
  background-color: @lightOrange;
}
