
@blue: rgb(74, 144, 226);
@lightBlue: rgb(195, 223, 255);
@orange: rgb(246, 166, 35);
@lightOrange: rgb(255, 216, 151);

ol.menu {
  list-style: none;
  margin-left: 0;
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 125%;
  }
}

@media only screen and (min-width: 481px) {
  ol.menu li {
    display: inline;
    margin-right: 2em;
  }
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 90%;
  }
}

@media only screen and (max-width: 320px) {
  html {
    font-size: 80%;
  }
}

body {
  color: rgb(66,66,66);
}
h1 {
  color: rgb(44,44,44);
}
h2,h3,h4,h5,h6 {
  color: rgb(44,44,44);
  margin-bottom: 0.5rem;
}

img {
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

td, th {
  color: rgb(44,44,44);
  line-height: 1rem;
  padding: .5rem;
  text-align: left;
  vertical-align: top;
}
table tbody > tr:nth-child(odd) > th,
table tbody > tr:nth-child(odd) > td {
  background-color: #EEEEEE;
}

a {
  color: @blue;
  text-decoration: none;
  /* thanks to https://eager.io/blog/smarter-link-underlines/ */
  text-shadow: .03em 0 #fff,-.03em 0 #fff,0 .03em #fff,0 -.03em #fff,.06em 0 #fff,-.06em 0 #fff,.09em 0 #fff,-.09em 0 #fff,.12em 0 #fff,-.12em 0 #fff,.15em 0 #fff,-.15em 0 #fff;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 1px, @blue 1px, @blue 2px, rgba(0, 0, 0, 0) 2px);
}

a.call-to-action {
  color: @orange;
  text-decoration: none;
  /* thanks to https://eager.io/blog/smarter-link-underlines/ */
  text-shadow: .03em 0 #fff,-.03em 0 #fff,0 .03em #fff,0 -.03em #fff,.06em 0 #fff,-.06em 0 #fff,.09em 0 #fff,-.09em 0 #fff,.12em 0 #fff,-.12em 0 #fff,.15em 0 #fff,-.15em 0 #fff;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 1px, @orange 1px, @orange 2px, rgba(0, 0, 0, 0) 2px);
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  background-image: none;
  text-shadow: none;
}

h1 a.call-to-action, h2 a.call-to-action, h3 a.call-to-action, h4 a.call-to-action, h5 a.call-to-action, h6 a.call-to-action {
  background-image: none;
  text-shadow: none;
}

a:hover {
  text-shadow: none;
  background-color: @lightOrange;
}

a.call-to-action:hover {
  text-shadow: none;
  background-color: @lightBlue;
}

a.plain {
  text-shadow: none;
  background-image: none;
  background-color: transparent;
}

::-moz-selection {
  background-color: @lightOrange;
  text-shadow: none;
}

::selection {
  background-color: @lightOrange;
  text-shadow: none;
}

span.date {
  color: lightgray;
  font-weight: normal;
}

.markdown p code, .markdown li code {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
  background: #EEEEEE;
  border: 1px solid #CCCCCC;
  display: inline;
  font-family: Inconsolata, monospace, serif;
  max-width: 100%;
  padding: 0 0.1625rem;
}

.markdown p a code, .markdown li a code {
  text-shadow: none;
  text-decoration: underline;
}

.markdown p a code:hover, .markdown li a code:hover {
  text-shadow: none;
  background-image: none;
  background-color: @lightOrange;
  border: 1px solid @lightOrange;
}

.markdown pre {
  background: #EEEEEE;
}

.markdown pre code {
  padding: 0.5rem;
  border: none;
  display: inline-block;
  white-space: inherit;
  word-wrap: normal;
  line-height: 1rem;
  background-image: none;
}

blockquote {
  padding-left: 16.875px;
  border-left: 6px solid lightgray;
  margin-left: 10.875px;
  margin-right: 0;
  padding-right: 0;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
