@import 'typography-compat.less';
@import 'solarized-light.less';

@blue: rgb(74, 144, 226);
@lightBlue: rgb(195, 223, 255);
@orange: rgb(246, 166, 35);
@lightOrange: rgb(255, 216, 151);
@white: rgb(255, 255, 255);

@media only screen and (min-width: 1200px) {
  html {
    font-size: 125%;
  }
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 90%;
  }
}

@media only screen and (max-width: 320px) {
  html {
    font-size: 80%;
  }
  .call-to-action-box input[type='email'] {
    width: 150px;
  }
}

body {
  color: rgb(66, 66, 66);
}
h1 {
  color: rgb(44, 44, 44);
}
h2,
h3,
h4,
h5,
h6 {
  color: rgb(44, 44, 44);
  margin-bottom: 0.5rem;
}

img {
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

td,
th {
  color: rgb(44, 44, 44);
  line-height: 1rem;
  padding: 0.5rem;
  text-align: left;
  vertical-align: top;
}
table tbody > tr:nth-child(odd) > th,
table tbody > tr:nth-child(odd) > td {
  background-color: #eeeeee;
}

a {
  color: @blue;
  text-decoration: underline;
}

a.call-to-action {
  color: @orange;
  text-decoration: underline;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none;
}

// New markdown parsing gives us more <p> tags than we had before
li p {
  margin-bottom: 0px;
}

h1 a.call-to-action,
h2 a.call-to-action,
h3 a.call-to-action,
h4 a.call-to-action,
h5 a.call-to-action,
h6 a.call-to-action {
  text-decoration: none;
}

::-moz-selection {
  background-color: @lightOrange;
}

::selection {
  background-color: @lightOrange;
}

span.date {
  color: lightgray;
  font-weight: normal;
}

.call-to-action-box {
  margin-top: 2em;
  border: 1px @orange solid;
  background-color: fade(@orange, 15%);
  margin-bottom: 2em;
  padding-top: 1.5em;
  padding-bottom: 0.5em;
  text-align: center;
  color: @orange;
}

.call-to-action-box input {
  border: 1px @orange solid;
  background-color: @white;
  height: 1.5em;
  vertical-align: top;
}

.call-to-action-box input[type='email'] {
  margin-left: 0.25em;
  padding: 0.25em;
  margin-right: 0.25em;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
}

.call-to-action-box input[type='submit'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
}

.call-to-action-box input[type='submit']:hover {
  color: @blue;
  border: 1px @blue solid;
  background-color: fade(@blue, 15%);
}

.call-to-action-box .disclaimer {
  color: fade(@orange, 70%);
}

.call-to-action-box .disclaimer a {
  color: fade(@orange, 70%);
  text-shadow: none;
  text-decoration: underline;
  background-color: none;
  background-image: none;
}

::-webkit-input-placeholder {
  color: fade(@orange, 40%);
}

:-moz-placeholder {
  /* Firefox 18- */
  color: fade(@orange, 40%);
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: fade(@orange, 40%);
}

:-ms-input-placeholder {
  color: fade(@orange, 40%);
}

.markdown p code,
.markdown li code {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
  background: #eeeeee;
  border: 1px solid #cccccc;
  display: inline;
  font-family: Inconsolata, monospace, serif;
  max-width: 100%;
  padding: 0 0.1625rem;
}

.markdown p a code,
.markdown li a code {
  text-shadow: none;
  text-decoration: underline;
}

.markdown pre {
  margin-bottom: 1rem;
}

.markdown pre code {
  padding: 0.5rem;
  border: none;
  display: inline-block;
  white-space: inherit;
  word-wrap: normal;
  line-height: 1rem;
  background-image: none;
  width: 100%;
}

blockquote {
  padding-left: 16.875px;
  border-left: 6px solid lightgray;
  margin-left: 10.875px;
  margin-right: 0;
  padding-right: 0;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
