@import 'css/colors.less';
@import 'css/rhythm.less';

.header {
  margin-bottom: 0;
}

.subHeader {
  color: @lightGray;
  margin-top: 0;
  margin-bottom: 1em;
  font-weight: normal;
  letter-spacing: -1px;
  white-space: nowrap;
}

.divider {
  margin-top: @rhythm;
  margin-bottom: @rhythm-double;
}

.metadata {
  display: block;
  margin-top: @rhythm;
  margin-bottom: @rhythm;
}
