node_modules

.cache
*.scss.d.ts

coverage
dist
docs
public
cache
tmp
temp
pids
logs
results
.eslintcache

.DS_Store

*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.rdb

*.sublime-workspace

src/**/*.js
test/**/*.js
scripts/**/*.js

yarn/
