node_modules

.cache

coverage
dist
docs
public
cache
tmp
temp
pids
logs
results

.DS_Store

*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.rdb

*.sublime-workspace

mailchimp.js
mailchimp.ts

src/**/*.js
test/**/*.js
scripts/**/*.js

yarn/
