@import 'css/rhythm.scss';

.parent {
  float: left;
  display: block;
  margin-right: $rhythm-quarter;
}

.container {
  position: relative;
  overflow: hidden;
}

.padding {
  width: 100%;
  padding-bottom: 120%;
}

.background {
  padding-bottom: 100%;
  position: relative;
  top: 0;
  left: 0;
  background-size: cover;
  display: block;
}

.backupImage {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;

  // What gatsby-image generated:
  // opacity: 0;
  // transition-delay: 500ms;
}

.image {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;

  // What gatsby-image generated:
  // opacity: 1;
  // transition: opacity 500ms ease 0s;
}
