@import 'css/rhythm.scss';

.header {
  margin-bottom: 0;
}

.blogSummary {
  margin-bottom: $rhythm;
}

.container {
  max-width: 24 * $rhythm;
  padding: $rhythm-half;
  padding-bottom: $rhythm-double;
  margin-right: auto;
  margin-left: auto;
}

.backLink {
  color: inherit;
}

.divider {
  margin-top: $rhythm-double;
  margin-bottom: $rhythm-double;
}
