name: CI

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Get Linux distro
        run: lsb_release -a

      - name: Get Linux system info
        run: uname -a

      - name: Check out the repo
        uses: actions/checkout@v2

      - name: Install Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '14.15.0'

      - name: Cache node_modules/
        uses: actions/cache@v2
        with:
          path: node_modules
          key: node_modules-${{ hashFiles('yarn.lock') }}

      - name: Unpack local yarn
        run: tar -xvf yarn-v1.22.10.tar.gz

      - name: Move yarn to generic ./yarn directory
        run: mv yarn-v1.22.10 ./yarn

      - name: Install dependencies from offline cache
        run: ./yarn/bin/yarn install --offline --pure-lockfile

      - name: Check for outstanding changes in the repo
        run: ./yarn/bin/yarn check-git

      - name: Build production site
        run: ./yarn/bin/yarn build

      - name: Lint, test, and broken link check
        run: ./yarn/bin/yarn ci-with-server

      - name: Final check for outstanding changes in the repo
        run: ./yarn/bin/yarn check-git
